.App {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.App * {
  width: 100%;
  text-align: center;
}

.App h3 {
  margin: 10px;
}
.App div:last-of-type {
  display: flex;
  justify-content: center;
}

.App button {
  width: 200px;
  height: 70px;
  background-color: teal;
  border: none;
  margin: 7px;
  border-radius: 7px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.App li {
  width: fit-content;
  margin: 7px auto;
  border: 1px solid teal;
  cursor: pointer;
  padding: 7px;
}